{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Boas vindas</title>
</head>
<body>
    <div style="text-align: center">
        <h1>Parabéns!!!</h1>
        <h2>O seu site já está disponível na WEB!</h2>
        <h2>Projeto feito com:</h2><br /><br />
        <img src="{% static 'img/logo-python.svg' %}" width="600" height="200" alt="">
        <img src="{% static 'img/logo-django.svg' %}" width="600" height="200" alt=""><br /><br /><br />
	    <h3>Se você está visualizando essa página é porque ela está disponível na WEB através do Heroku.</h3>
    </div>
</body>
</html>
